
.btn {
  height : 40px ;
  width: 50px;
  background-color: #FAFAFA;
	border: none;
	color: black;
	//padding: 15px 32px;
  padding: 0px 0px !important;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  padding : 0 0 0 12px ;
	box-shadow: 0 1px 0 rgba(155, 155, 155, 0.75);
  font-family: "Roboto" ;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  -webkit-box-shadow: 0px 1px 0px rgba(155, 155, 155, 0.75);
  -moz-box-shadow:    0px 1px 0px rgba(155, 155, 155, 0.75);
   padding : 0 5px 0 5px  ;
}

.btn:hover {
    background-color: #F1F1F1;
    color: black;
    border: none;
}

.btn:active {
  background-color: #C6C6C6;
  border: none;

}

.btn:focus {outline:0;}

.btn1
{
  height : 40px !important;
  width: 70px !important;
}

.col
{
  width: auto;
  display: flex;
  flex-wrap: nowrap;
	flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

}

.row
{
  width : auto;
	display: flex;
  flex-wrap: nowrap;
	flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

//.disabled
//{

//}

.left
{
justify-content: flex-start;
}
.right
{
justify-content: flex-end;
}
.center
{
justify-content: center;
}

html,body {
	height:100%;
  margin:0px;
}

.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
    margin-bottom: 0px !important;
}

.row-flex-wrap {
	 -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
    margin-bottom: 0px !important;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	margin: 1.5px; // hack adjust for wrapping
  //margin-bottom: 0px !important; 
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	margin:0px;
  //margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	  flex-flow: column nowrap;
    margin-bottom: 0px !important;
}

.flex-grow {
   display: flex;
   -webkit-flex: 2;
   flex: 2;
   margin-bottom: 0px !important;
}

.textarea {
  heigth: auto;
  width: 100%;
  display: block;
  border: 1px  ;
  font-family: "Roboto" ;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

textarea.form-control {
   width: 100%;
   resize: none;
}

.panel-heading {
  background-color: #F7F7F7 !important;
  font-size: 14px;
  font-weight: bold !important;
  font-family: "Roboto"!important;
  color: #315286 !important;
}

.panel-body {
  font-family: "Roboto" !important;
  background-color: #E9EDF2;
  color: #282828 !important;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  flex-shrink : 0 ;
  flex-basis : auto ;
  flex-wrap: nowrap;
  line-height: 1px;
  padding:0px !important;
}

.panel-primary {
  background-color: #E9EDF2 !important;
  font-size: 16px;
  font-weight: bold !important;
  font-family: "Roboto"!important;
  color: #315286 !important;
  flex-shrink : 0 ;
  flex-basis : auto ;
  flex-wrap: nowrap;
  line-height: 0.5px;
}

p {
  //padding-left: 16px;
  font-size: 14px;
  font-weight:bold;
  color: #000000;
  line-height: 0.5px;
}

.table-tbody {
  font-family: "Roboto" !important;
  background-color: #E9EDF2;
  color: #000000 !important;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  text-align: left;
  line-height: 0.5px;
  flex-shrink : 0 ;
  flex-basis : auto ;
  flex-wrap: nowrap;
  margin-bottom: 0px; // ???
}

th {
  font-family: "Roboto" !important;
  background-color: #E9EDF2;
  color: #315286 !important;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  line-height: 0.5px;
}

table {
  border-collapse: collapse;
  align-items: center;
  border: 0;
//font-weight:bold;
}
