<!DOCTYPE html>
<head>
    <!-- Meta-Information -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <title>IHM</title>
    <meta name="description" content="Eiffage">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" style="text/css" href="main.css" />

</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="node_modules/angular1/es6/dev/src/testing/shims_for_IE.js"></script>

<div class = "panel panel-primary">
  <p> CT{{ ct }} </p> <!-- Récupérer de manière dynamique le Numéro de CT ou le passer en paramètre dans l'url  !! -->
</div>

<!-- Container Flex -->
<div class="container">

  <div class= "row-flex">
    <div class="col-lg-9">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Description générale</div>
          <div class="panel-body ">
            <table class="table">
                <tbody>
                  <tr>
                    <td>Numéro CT</td> <td>{{ ct }}</td>
                  </tr>
                  <tr>
                    <td>Désignation CT</td> <td>{{ desc }}</td>
                  </tr>
                  <tr>
                    <td>Numéro du poste technique</td> <td>{{ pt }}</td>
                  </tr>
                  <tr>
                    <td>Adresse</td> <td>{{ adr }} {{ cp }} {{ ville }}</td>
                  </tr>
                  <tr>
                    <td>Puissance totale installée (kW)</td> <td>{{ puiss }}</td>
                  </tr>
                  <tr>
                    <td>Contrat d'objectif</td> <td>{{ ctr }}</td>
                  </tr>
                  <tr>
                    <td>Type Energie principale</td> <td>{{ nrg }}</td>
                  </tr>
                  <tr>
                    <td>Etat admninistatif</td> <td>{{ stat }}</td>
                  </tr>
                  <tr>
                    <td>Type CT</td> <td>{{ typ }}</td>
                  </tr>
                  <tr>
                    <td>Centre thermique supervisé</td> <td>{{ super }}</td>
                  </tr>
                  <tr>
                    <td>Date prévisionnelle de rénovation</td> <td>{{  prev }}</td>
                  </tr>
                  <tr>
                    <td>Remarque technique sur la prochaine rénovation</td> <td>{{  rmq }}</td>
                  </tr>
                  <tr>
                  <td>Date de la dernière rénovation / Date d'ouverture</td> <td>{{  dat }}</td>
                  </tr>
                  <tr>
                  <td>Description de la derniére rénovation</td> <td>{{  der }}</td>
                </tbody>
            </table>
          </div>
      </div>

    <div class="col-lg-3">
      <div class= "row-flex">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Nombre de Groupes Fonctionnels</div>
          <div class="panel-body flex-grow">
            <table class="table"> <!-- Faire comptage dans la table -->
              <!--  <thead></thead> -->
                  <tbody>
                    <tr>
                      <td>Nombre de productions et/ou sous stations chaud</td> <td>3</td>
                    </tr>
                    <tr>
                      <td>Nombre de productions et/ou sous stations froid</td> <td>2</td>
                    </tr>
                    <tr>
                      <td>Nombre de réseaux secondaires</td> <td>1</td>
                    </tr>
                    <tr>
                      <td>Nombre de CTA</td> <td>1</td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>

    <div class= "row-flex">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Les "Prestations" P1 P2 P3 P4</div>
          <div class="panel-body flex-grow">
            <table class="table">
              <!--  <thead></thead> -->
                <tbody>
                  <tr>
                    <td>P4 travaux du propriétaire</td> <td>{{ p4 }}</td>
                  </tr>
                  <tr>
                    <td>P3 gros entetien et renouvellement du matériel</td> <td>{{ p3 }}</td>
                  </tr>
                  <tr>
                    <td>P2 conduite de l'installation et travaux de petit entretien</td> <td>{{ p2 }}</td>
                  </tr>
                  <tr>
                    <td>P1 fourniture énergie primaire</td> <td>{{ p1 }}</td>
                  </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div> <!-- Fin row-flex -->
  </div> <!-- Fin lg-4 -->
</div> <!-- Fin lg-8 -->
</div> <!-- Fin 1ère ligne -->

<div class= "row-flex">
    <div class="col-lg-12">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Commentaires</div>
          <p>Date : {{ FromDate }}</p>
          <div class="panel-body flex-grow">
            <!--Textarea / Récupérer le commentaire et l'insérer dans une table ? -->
            <textarea class = "form-control" maxlength = "250">La chaufferie est fonctionnelle !!!</textarea>
          </div>
      </div>
    </div>
</div>

<div class= "row-flex">
    <div class="col-lg-12">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Les exploitants du Centre Thermique</div>
            <div class="panel-body flex-grow">
              <table class="table">
                <thead>
                  <tr>
                    <th>Rôle</th>
                    <th>Périmètre Exploitation</th>
                    <th>Groupe Exploitation</th>
                    <th>Responsable technique</th>
                    <th>Responsable administratif</th>
                    <th>Contact HO</th>
                    <th>Contact HNO</th>
                    <th>Référence Interne</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat ="item in Exp" >
                    <td>{{item.RXP_LBL}}</td> <td>{{ item.GRE_PERIMETRE_COD }}</td> <td>{{ item.GRE_EXP_COD }}</td> <td>{{ item.GRE_RESP_TECHNIQUE }}</td> <td>{{ item.GRE_RESP_ADM }}</td> <td>{{ item.CONTACT_HO }}</td> <td>{{ item.CONTACT_HNO }}</td>
                    <td>{{ item.GRE_REF_INTERNE }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
</div>

<div class= "row-flex">
    <div class="col-lg-12">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Equipements du centre thermique</div>
          <div class="panel-body flex-grow">
           <table class="table">
             <thead>
               <tr>
                 <th>Equipement</th>
                 <th>Numéro d'équipement</th>
                 <th>Adresse</th>
                 <th>Chef d'établissement/contact</th>
                 <th>Numéro de téléphone</th>
                 <th>Type d'équipement</th>
                 <th>Service fonctionnel</th>
                 <th>Service gestionnaire</th>
                 <th>Collectivité</th>
                 <th>Nombre de capteurs de confiance</th>
                </tr>
              </thead>
                <tbody>
                  <tr ng-repeat ="item in Eqpt " >
                    <td>{{item.EQP_DESIGNATION}}</td> <td>{{ item.EQP_NUM}}</td> <td>{{ item.EQP_ADRESSE }}</td> <td>{{ item.EQP_CONTACT }}</td> <td> {{ item.EQP_CONTACT_TEL }} </td> <td>{{ item.EQT_DESIGNATION }}</td> <td>{{ item.EQP_SERVICE_FON }}</td>
                    <td>{{ item.EQP_SERVICE_GES }}</td> <td>{{ item.COL_LBL }}</td> <td>{{ item.EQP_NB_CAPTEUR }}</td>
                  </tr>
                </tbody>
          </table>
       </div>
      </div>
    </div>
</div>

<div class= "row-flex">
    <div class="col-lg-12">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Les objets fonctionnels du Centre Thermique</div> <!-- Tableaux mutlicolonnes ? -->
          <div class="panel-body flex-grow">
            <table class="table">
              <thead>
                <tr>
                  <th>Dénomination</th>
                  <th>Type</th>
                  <th>Référence</th>
		              <th>Lien vers fiche de consistance</th>
		              <th>Localisation</th>
	              </tr>
              </thead>
                <tbody>
                  <tr ng-repeat ="item in ObjFonc " >
                    <td>{{item.GRF_DESCR}}</td> <td>{{ item.GFT_TYPE}}</td> <td>{{ item.OBF_COD }}</td> <td></td> <td>{{ item.CTH_NUM_CT }}</td>
                  <tr>
                </tbody>
               </table>
          </div>
      </div>
    </div>
</div>

<div class= "row-flex">
    <div class="col-lg-12">
      <div class="panel panel-default flex-col">
        <div class="panel-heading">Les automates du Centre Thermique</div>
          <div class="panel-body flex-grow">
            <table class="table">
              <thead>
                <tr>
                  <th>Dénomination</th>
                  <th>Type</th>
                  <th>Référence</th>
		              <th>Lien vers fiche de consistance</th>
		            </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>Test</td> <td>Test</td> <td>Test</td> <td>Test</td>
                  </tr>
      	         </tbody>
               </table>
          </div>
      </div>
    </div>
  </div>
</div> <!-- Fin container -->

</body>
</html>
